.performances-title::after {
  content: "";
  position: absolute;
  width: 22rem;
  height: 11px;
  left: 0;
  background-color: #cbcbcb;
  bottom: 6px;
  z-index: -1;
}

.event-box {
    transition: max-height 1s ease-in-out;
    
}

.short-event {
    max-height: 12.5rem;
    min-height: 10.5rem;
}
.tall-event {
    max-height: 40rem;
}
.event-description {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.3s;
    
}

.hidden-event {
    opacity: 0;
}

.details-button {
    z-index: 2;
}

@media only screen and (min-width: 400px) {
    .short-event {
        max-height: 10.5rem;
    }
}