.contact-title {
    z-index: 2!important;
}

.contact-title::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 11px;
  left: 15px;
  background-color: #cbcbcb49;
  z-index: -1;
  bottom: 2.85rem;
}