.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app-container {
  background-image: url("./assets/compressed/home.jpg");
  background-size: cover;
  background-position: top left -150px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: -1 img;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@media only screen and (min-width: 800px) {
  .app-container {
    background-position: top 0px left 0px;
    /* background-attachment: fixed; */
  }
}